//**--Custom properites--**//

//colors
$color_darkBlue: hsl(240, 67%, 8%); 
$color_white: hsl(0, 0%, 100%);
$color_darkGrey: hsl(240, 17%, 26%);
$color_lightGrey: hsl(240, 6%, 54%);
$color_aqua:hsl(194, 48%, 49%);
$color_venus: #A34D28;
$color_earth: hsl(263, 67%, 51%);
$color_mars: hsl(10, 63%, 51%);
$color_jupiter: hsl(2, 68%, 53%);
$color_saturn: hsl(17, 73%, 46%);
$color_uranus:  hsl(168, 73%, 44%);
$color_neptune: hsl(222, 87%, 56%);



//planet name colors//
.mercury-color{
    background-color: $color_aqua;
}
.venus-color{
    background-color: $color_venus;
}
.earth-color{
    background-color: $color_earth;
}
.mars-color{
    background-color: $color_mars;
}
.jupiter-color{
    background-color: $color_jupiter;
}
.saturn-color{
    background-color: $color_saturn;
}
.uranus-color{
    background-color: $color_uranus;
}
.neptune-color{
    background-color: $color_neptune;
}

.buttonSelected_0{
    background-color: $color_aqua;
    font-weight: bold;
}
.buttonSelected_1{
    background-color: $color_venus;
    color: #555555;
    font-weight: bold;
}
.buttonSelected_2{
    background-color: $color_earth;
    font-weight: bold;
}
.buttonSelected_3{
    background-color: $color_mars;
    font-weight: bold;
}
.buttonSelected_4{
    background-color: $color_jupiter;
    font-weight: bold;
}
.buttonSelected_5{
    background-color: $color_saturn;
    font-weight: bold;
    color: #555555;
}
.buttonSelected_6{
    background-color: $color_uranus;
    font-weight: bold;
    color: #555555;
}
.buttonSelected_7{
    background-color: $color_neptune;
    font-weight: bold;
    
}
//**--End Custom Properies--**//

//smooth scrolling attribute
@media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
//**--globals--**//
*, *::before, *::after {
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
}

body{
    background-color: $color_darkBlue;
    background-image: url(/assets/background-stars.svg); //starry background
    background-position: center;
    background-repeat: repeat;

    h1{
        font-family: 'Antonio', sans-serif;
        font-size: 5rem;
        line-height: 6.43rem;
        text-transform: uppercase;
        color: $color_white;
    }
    h2{
        font-family: 'Antonio', sans-serif;
        font-size: 2.5rem;
        line-height: 3.25rem;
        letter-spacing: -1.5px;
        color: $color_white;
    }

    h3{
        font-family: 'Spartan', sans-serif;
        font-size: .75rem;
        line-height: 1.56rem;
        letter-spacing: 2.6px;
        color: $color_white;
    }
    h4{
        font-family: 'Spartan', sans-serif;
        font-size: .68rem;
        line-height: 1.56rem;
        letter-spacing: 1px;
        color: $color_white;
    }
    p{
        font-family: 'Spartan', sans-serif;
        font-size: .876rem;
        line-height: 1.56rem;
        color: $color_white;

        //the wikipedia link, 50% opacity to lessen visual impact
        .source{
            opacity: 50%;
            padding-top: 3.25rem;
        }
        //the wikipedia link, 50% opacity to lessen visual impact
        .geology_data{
            opacity: 50%;
            text-transform: uppercase;
        }
    }
    li{
        font-family: 'Spartan', sans-serif;
        font-size: .876rem;
        line-height: 1.56rem;
        color: $color_white;
        text-transform: uppercase;
    }
//**--End globals--**//


}
//navigation menu//
    nav{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;

        img{
            width: 1.5rem;
        }
        h2{
            margin: 0;
        }
        .nav_top{
        width: 100%;
        }
        .nav_inner_wrapper{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            margin: 1rem;
            //hamburger menu button//
            button{
                background-color: transparent;
                color: $color_white;
                border: none;
                width: 1.5rem;
                font-size: 1.5rem;
            }
        }
    //hide nav menu unless triggered by click in JS//
        .nav_menu{
            display: none;

            .menu_item{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                width: 88vw;
               
                i{
                    opacity: .5;
                }
            }
            .planet_menu_group{
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                gap: 1rem;
                p{
                    margin: .5rem;
                }
            }
            .circle{
                width: 1rem;
                height: 1rem;
                border-radius: 100%;
            }
            
            li{
                list-style-type: none;
                cursor: pointer;
            }
            a{
                text-decoration: none;
                color: inherit;
                margin: 0;
            }
        
            .hamburger{
                display: block;
                cursor: pointer;
            }
            .list_break{
                background-color: rgba(255,255,255,.15);
                height: 1.5px;
                width: 90%;
                margin: 0;
                padding: 0;
            }
        }
//when clicked to open, use these attributes//
        .show{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            width: 100vw;
            padding: 1rem 0 0;
            border-top: 1.5px solid rgba(255,255,255,.15);
        }
    }

    //mobile only buttons
    .planet_buttons_wrapper{
        border-top: 1.5px solid rgba(255,255,255,.25);
        border-bottom: 1.5px solid rgba(255,255,255,.25);
        width: 100vw;
        margin: 1.5rem;
    }

    .planet_details_buttons{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        margin: 0 1rem;

    }

    button {
        padding: 1rem 0rem;
        border-bottom: 3px solid none;
        color: $color_white;
        background-color: transparent;
        border: none;
        text-transform: uppercase;
    }
    button:hover{
        padding: 1rem 0;
    }
    button[aria-selected="true"] {
        opacity: 1;
        border-bottom: 3px solid $color_aqua;
    }
    button[aria-selected="false"] {
        opacity: .5;
    }
    button:focus {
        outline: 0;
        color: $color_white;
      }
      .number_opacity{
        display:none;
    }
    .tab_desk_vis{
        display: none;
    }
//determines size and margin of planet images
.item-image{

    .planet{
        margin: 2rem 0 1.5rem 0;
    }
    .Mercury{
        width: 12rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .Venus{
        width: 18.625rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .Earth{
        width: 14.81rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .Mars{
        width: 12rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .Jupiter{
        width: 15rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .Saturn{
        width: 17rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .Uranus{
        width: 15rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .Neptune{
        width: 15.81rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}
.planetGeo__imgSize{
    margin: 0;
    padding: 0;
    width: 8rem;
}

#geo_stack_back{
    position: relative;
    z-index: -2;
    
}
#geo_stack_front{
   position: absolute;
   z-index: 1;
   transform: rotate(-45deg);
   margin-left: -14%;
   margin-top: 30%;
}
//planet details tabs/buttons//
    .planet_detailsMenu{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 2rem;
        gap: 1.25rem;

        p{
            padding: 1rem 0;
        }
    }
//planet main content
    .planet_main{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 0 .5rem;
        h1{
            margin: .5rem 0;
        }
    }

//Main Details section//
    .planet_highlights{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .source{
        opacity: .5;
        a{
        
            color: inherit;   
        }
        i{
           font-size: 1rem;
           padding-left: 1.5rem;
        }
    } 

    //**--desktop and tablet only buttons--**//
    .planet_details_extended{
        display: none;
        
    }
    .planet_details_extended.active{
        display: block;
    }
    //**--END desktop and tablet only buttons--**//

    //additional details - doesnt change with button selection//
    .planet_details{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: .25rem;
        margin: 1.5rem;
        text-transform: uppercase;

        h4{
            opacity: 50%;
        }

        .planet_details_sub{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            border: 1px solid rgba(255,255,255,.5);
            padding: 1.125rem;
            width: 100%;
        }
    }
@media screen and (min-width: 699px) and (max-width: 1024px){
//navigation menu//
nav{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    h2{
        margin: 0;
    }
    .nav_top{
    width: 100%;
    }
    .nav_inner_wrapper{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin: 1rem;

        //hamburger menu button//
        button{
            display: none;
        }
    }
//hide nav menu unless triggered by click in JS//
    .nav_menu{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        width: 100%;
        margin: 1rem;
        padding: 1rem 0 0;
        border-top: 1.5px rgba(255,255,255,.15);
        .menu_item{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            width: 10%;
            
            i{
                display: none;
            }
            p{
                font-size: 1.15rem;
            }
            
        }
        .planet_menu_group{
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            p{
                margin: .5rem;
            }
        }
        .circle{
            display: none;
        }
        
        li{
            list-style-type: none;
            cursor: pointer;
        }
        li:hover{
            background-color: rgba(255,255,255,.15);
        }
        a{
            text-decoration: none;
            color: inherit;
            margin: 0;
        }
    
        .hamburger{
            display: none;
        }
        .list_break{
            display: none;
        }
    }
}
//Tab buttons Section
.planet_buttons_wrapper{
  
    width: 40vw;
    margin: 1.5rem;
    order: 2;
    border: none;
}

.planet_details_buttons{
   

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

}

button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap:.5rem;
    padding: 1rem;
    border: 1px solid rgba(255,255,255,.15);
    color: $color_white;
    background-color: transparent;
    text-transform: uppercase;
    width: 100%;
    text-align: left;
    margin-left: 0vw;
}
button:hover{
    background-color: rgba(255,255,255,.15);
    padding: 1rem;
}
button[aria-selected="true"] {
    opacity: 1;
    background-color: $color_aqua;
}
button[aria-selected="false"] {
    opacity: .5;
}
button:focus {
    outline: 0;
    color: $color_white;
  }
.number_opacity{
    opacity: .5;
    padding-right: 1rem;
    display: block;
}
.tab_desk_vis{
    display:block;
}
  
//planet details tabs/buttons//
.planet_detailsMenu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 2rem;
    gap: 1.25rem;

    p{
        padding: 1rem 0;
    }
}
//planet main content
.planet_main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "planet planet"
    "info buttons";
    margin: 0 2rem;
    // flex-flow: column nowrap;
    // justify-content: center;
    // align-items: center;
    // margin: 0rem;
    h1{
        margin: .5rem 0;
    }

    .item-image{
        grid-area: planet;
        justify-self: center;
    }
    .item-info{
        grid-area: info;
        // grid-area: info-section;
        justify-self: left;
        width: 100%;
        text-align: left;
    }
    .item-buttons{
        grid-area: buttons;
        justify-self: center;
        width: 90%;
    }
}


//Main Details section//
.planet_highlights{
    margin: .5;
    text-align: left;
}
.source{
    opacity: .5;
    a{
    
        color: inherit;   
    }
    i{
       font-size: 1rem;
       padding-left: 1.5rem;
    }
} 
//determines size and margin of planet images
.planet{
    margin:0;

    .Mercury{
        width: 20rem;
        margin-bottom: 3rem;
    }
    .Venus{
        width: 20.625rem;
        margin-bottom: 3rem;
    }
    .Earth{
        width: 21.81rem;
        margin-bottom: 3rem;
    }
    .Mars{
        width: 19.06rem;
        margin-bottom: 3rem;
    }
    .Jupiter{
        width: 25rem;
        margin-bottom: 3rem;
    }
    .Saturn{
        width: 26rem;
        margin-bottom: 3rem;
    }
    .Uranus{
        width: 22rem;
        margin-bottom: 3rem;
    }
    .Neptune{
        width: 21.81rem;
        margin-bottom: 3rem;
    }
}
.planetGeo__imgSize{
    margin: 0;
    padding: 0;
    width: 14rem;
}
#geo_stack_back{
    position: relative;
    z-index: -2;
    
}
#geo_stack_front{
   position: absolute;
   z-index: 1;
   transform: rotate(-45deg);
   margin-left: -14%;
   margin-top: 20%;
}

//additional details - doesnt change with button selection//
.planet_details{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0 .75rem;
    margin: 1.5rem;
    text-transform: uppercase;

    h4{
        opacity: 50%;
    }

    .planet_details_sub{
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        border: 1px solid rgba(255,255,255,.5);
        padding: 1.125rem;
        width: 100%;

        h3, h4{
            margin: 0;
        }
    }
}

}

@media screen and (min-width: 1025px) and (max-width: 3840px){
    //navigation menu//
    
    nav{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(255,255,255,.25);
        h2{
            margin: 0;
        }
        .nav_top{
        width: 80%;
        }
        .nav_inner_wrapper{
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            margin: 0 1.5rem 1rem;
    
            //hamburger menu button//
            button{
                display: none;
            }
        }
    //hide nav menu unless triggered by click in JS//w
        .nav_menu{
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            align-items: center;
            gap: 1rem;
            width: 80%;
            margin: 0 1.5rem 1rem;
            padding: 0;
            .menu_item{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                width: 10%;
                
                i{
                    display: none;
                }
                p{
                    font-size: 1rem;
                }
                
            }
            .planet_menu_group{
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                gap: 1rem;
                p{
                    margin: .5rem;
                }
            }
            .circle{
                display: none;
            }
            
            li{
                list-style-type: none;
                cursor: pointer;
                border-top: 5px solid transparent;
                padding-top: 1rem;
                opacity: .8;
            }
            li:hover {
                opacity: 1;
                padding-top: 1rem;
        }

            [data-name="mercury"]:hover{
                border-top-color: $color_aqua;
            }
            [data-name="venus"]:hover{
                 border-top-color: $color_venus;
            }
            [data-name="earth"]:hover{
                border-top-color: $color_earth;
           }
           [data-name="mars"]:hover{
            border-top-color: $color_mars;
            }
            [data-name="jupiter"]:hover{
                border-top-color: $color_jupiter;
            }
            [data-name="saturn"]:hover{
                border-top-color: $color_saturn;
            }
            [data-name="uranus"]:hover{
                border-top-color:$color_uranus;
            }
            [data-name="neptune"]:hover{
                border-top-color: $color_neptune;
            }

            a{
                text-decoration: none;
                color: inherit;
                margin: 0;
            }
        
            .hamburger{
                display: none;
            }
            .list_break{
                display: none;
            }
        }
    }
    //Tab buttons Section
    .planet_buttons_wrapper{
        width: 40vw;
        margin: 0;
        border: none;
    }
    
    .planet_details_buttons{
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin: 0;
    }
    
    button {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap:.5rem;
        padding: 1rem 1.5rem;
        border: 1px solid rgba(255,255,255,.25);
        color: $color_white;
        background-color: transparent;
        text-transform: uppercase;
        width: 100%;
        text-align: left;
        margin-left: 0vw;
        font-size: 1.25rem;
    }

    button[aria-selected="true"] {
        opacity: 1;
        border: 1px solid transparent;
        // color: #3f3f3f;
        // font-weight: bold;
    }

    button[aria-selected="false"] {
        opacity: 1;
        background-color: transparent;
        color: white;
    }

        [data-name="mercury--btn"]{
            background-color: $color_aqua;
            
        }
        [data-name="venus--btn"]{
            background-color: $color_venus;
            
        }
        [data-name="earth--btn"]{
            background-color: $color_earth;
           
       }
       [data-name="mars--btn"]{
            background-color: $color_mars;
            
        }
        [data-name="jupiter--btn"]{
            background-color: $color_jupiter;
           
        }
        [data-name="saturn--btn"]{
            background-color: $color_saturn;
            
        }
        [data-name="uranus--btn"]{
            background-color:$color_uranus;
            
        }
        [data-name="neptune--btn"]{
            background-color: $color_neptune;
            
        }
        
        button:hover{
            background-color: rgba(255,255,255,.25);
            padding: 1rem 1.5rem;
            border: 1px solid transparent;
        }
    

    button:focus {
        outline: 0;
        color: $color_white;
      }
    .number_opacity{
        opacity: .5;
        padding-right: 1rem;
        display: block;
    }
    .tab_desk_vis{
        display:block;
    }

      
    //planet details tabs/buttons//
    .planet_detailsMenu{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 2rem;
        gap: 1.25rem;
    
        p{
            padding: 1rem 0;
        }
    }
    //planet main content
    .planet_main{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1.25fr 1fr;
        grid-template-areas:
        "planet info"
        "planet buttons";
        margin: 5rem 6rem 0;
       
        h1{
            margin: .5rem 0;
        }
    
        .item-image{
            grid-area: planet;
            justify-self: center;
            align-self: center;
        }

        .item-info{
            grid-area: info;
            justify-self: stretch;
            width: 100%;
            text-align: left;
            margin-top: 3rem;

            h1{
                padding-bottom: 1rem;
                font-size: 4rem;
            }
            p{
                font-size: 1.2rem;
                line-height: 1.75rem;
            }

        }
        .item-buttons{
            grid-area: buttons;
            justify-self: stretch;
            align-self: left;
            width: 100%;
        }
    }

    
    //Main Details section//
    .planet_highlights{
        margin: .5rem 5rem;
        text-align: left;
        max-width: 100%;
        font-size: 1.5rem;
        line-height: 2.5rem;

        p{
            margin: .5rem 0 0;
        }
        
    }
    .source{
        opacity: .5;
        padding-top: 2.5rem;
        margin-bottom: 0;
        font-size: 1.5rem;
        a{
        
            color: inherit;   
        }
        i{
           font-size: 1rem;
           padding-left: 2rem;
        }
    } 
    //determines size and margin of planet images
    .planet{

        .Mercury{
            width: 25.93rem;
            margin-bottom: 3rem;
            z-index: -2;
            align-self: center;
            justify-self: center;
            
        }
        .Venus{
            width: 29.625rem;
            margin-bottom: 3rem;
            
        }
        .Earth{
            width: 29.81rem;
            margin-bottom: 3rem;
            z-index: -2;
        }
        .Mars{
            width: 27.06rem;
            margin-bottom: 3rem;
            z-index: -2;
        }
        .Jupiter{
            width: 33rem;
            margin-bottom: 3rem;
            z-index: -2;
        }
        .Saturn{
            width: 34rem;
            margin-bottom: 3rem;
            z-index: -2;
        }
        .Uranus{
            width: 30rem;
            margin-bottom: 3rem;
            z-index: -2;
        }
        .Neptune{
            width: 29.81rem;
            margin-bottom: 3rem;
            z-index: -2;
        }

    }
    
    .planetGeo__imgSize{
        margin: 0;
        padding: 0;
        width: 14rem;
    }

    #geo_stack_back{
        position: relative;
        z-index: -2;
        
    }
    #geo_stack_front{
       position: absolute;
       z-index: 1;
       transform: rotate(-45deg);
       margin-left: -14%;
       margin-top: 18%;
    }
    
    
    .planet_details{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 0 2rem;
        margin: 1rem 5rem;
        text-transform: uppercase;
    
        h4{
            opacity: 50%;
            font-size: 1rem;
            white-space: nowrap;
        }
        h3{
            font-size: 1.75rem;
            padding-top: 1rem;
            white-space: nowrap;
        }
    
        .planet_details_sub{
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            border: 1px solid rgba(255,255,255,.5);
            padding: 1.25rem;
            width: 100%;
    
            h3, h4{
                margin: 0;
            }
        }
    }


}