//===========================================
// Footer
//===========================================
$footerHeight: 50px;
footer {
  .footer-content {
    min-block-size: $footerHeight;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
    p {
      font-family: "Spartan", sans-serif;
      color: $color_white;
      font-size: 0.8rem;
      a {
        color: $color_white;
        text-decoration: none;
      }
    }
  }
}
